/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.custom-nav {
    max-width: 1920px !important;
    max-height: 86px !important;
    left: 0px !important;
    top: 0px !important;
    box-shadow: 0px 0.5px 1px rgba(195, 0, 0, 0.28) !important;
}


.custom-footer {
    height: 190px;
    display: flex;
    align-items: center;
    flex-direction: row;
    /*left: 0px;*/
    /*top: 890px;*/
}

.footer-left {
    margin-right: 50px;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;/*60%;*/
    margin: 0;
    /*padding: 0px;*/
}

.footer-content-links {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    width: 20%;
}

.footer-content-links:hover {
    font-weight: 800;
}

.custom-img-footer-logo {
    width: 246.38px;
    height: 58.24px;
    /*left: 162px;
    top: 956px;*/
}

.custom-img-fastcast {
    width: 40px;
    /*left: 8.44%;
    right: 89.79%;
    top: 88.52%;
    bottom: 6.1%;*/
}

.custom-img-fastcast-logo {
    padding-left: 6pt;
    /*left: 11.23%;
    right: 78.73%;
    top: 88.75%;
    bottom: 6.09%;*/
    /*padding-right: 200px;*/
}

/* OLD THINGS */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  font-family: 'IBM Plex Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'IBM Plex Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: black;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
