@page
@model FastCast.Pages.AnswerModel
@{
}

    <div class="container">
        @if (ViewData["SessionCode"] != null)
        {
            <p>Current session: @ViewData["SessionCode"]</p>
        }

        @if (ViewData["SessionAnswerError"] != null)
        {
            <h1>Error</h1>
            <h3 style="color:red;">@ViewData["SessionAnswerError"]</h3>
            <h3>Redirecting you</h3>
            <meta http-equiv="refresh" content="5;url=./" />
            <!--//TODO: Play with the UI maybe !-->
        }

       </div>