@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="text-center">
    <h1 style = "font-family:courier,arial,helvetica;" class="bg-danger text-white">Enter Session Code</h1>
    <form method="post">
        <div class="form-group">
            <label for="SessionId" class="text-primary">Session Code</label>
            <input type="text" name="AuthCode">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Join</button>
        </div>
    </form>
    @if (ViewData["SessionStatus"] != null)
    {
        @if ((bool)ViewData["SessionStatus"])
        {
            <h3 style="color:green;">You have successfully joined the session!</h3>
        }
        else
        {
            <h3 style="color:red;">That code doesn't, try entering a new one!</h3>
        }
    }
    
    @if (ViewData["FormId"] != null)
    {
        <iframe src="@Url.Content(String.Format("https://docs.google.com/forms/d/e/{0}/viewform?embedded=true", @ViewData["FormId"]))" width="640" height="685" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    }
</div>


