@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="container">
    <div class="main-page-box" style="height: 51vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;">
        <h1 class="display-4 mb-3">Enter Session Code</h1>
        <div>&nbsp;</div>
        <form id="joinSession" method="post">
            <div class="input-group mx-auto">
                <input type="text"
                       class="form-control"
                       placeholder="Session code"
                       aria-label="Session code"
                       aria-describedby="join-button"
                       name="AuthCode"
                       autofocus
                       autocomplete="off"
                       >
                <input id="latitude" type="hidden" name="Latitude" value=""/>
                <input id="longitude" type="hidden" name="Longitude" value=""/>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="join-button">Join</button>
                </div>
            </div>
        </form>

        <div class="row">&nbsp;</div>
        <div class="row w-100">
            @if (ViewData.ContainsKey("Error"))
            {
                if (ViewData["Error"] != null)
                {
                    <div class="alert alert-danger w-100 col-lg" role="alert" id="get-session-error">
                        @ViewData["Error"]
                    </div>
                }
                else
                {
                    <div class="alert alert-success w-100 col-lg" role="alert" id="get-session-success">
                        We found your session and you are authenticated! <b>Redirecting now!!</b>
                    </div>
                    <meta http-equiv="refresh" content="1;url=./answer" />
                }
            }
        </div>
    </div>

    
</div>

<script src="~/js/fastCastLocationService.js"></script>
