@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="text-center">
    <h1 class="display-6">Enter Session Code</h1>
    <form method="post">
        <div class="form-group">
            <label for="SessionId">Session Code</label>
            <input type="text" name="AuthCode">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Join
            </button>
        </div>
    </form>
    @if (ViewData["SessionStatus"] != null)
    {
        @if ((bool)ViewData["SessionStatus"])
        {
            <h3 style="color:green;">You have successfully joined the session!</h3>
        }
        else
        {
            <h3 style="color:red;">That code doesn't, try entering a new one!</h3>
        }
    }

    @if (ViewData["FormId"] != null && (bool)ViewData["IsLive"] == true)
    {
        <iframe src="@Url.Content(String.Format("https://docs.google.com/forms/d/e/{0}/viewform?embedded=true", @ViewData["FormId"]))" width="640" height="685" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    }

</div>

<script type="text/javascript">
    // The polling function
    function poll(fn, timeout, interval) {
        var endTime = Number(new Date()) + (timeout || 2000);
        interval = interval || 100;

        var checkCondition = function(resolve, reject) {
    // If the condition is met, we're done! 
            var result = fn();
            if(result) {
                resolve(result);
            }
    // If the condition isn't met but the timeout hasn't elapsed, go again
            else if (Number(new Date()) < endTime) {
                setTimeout(checkCondition, interval, resolve, reject);
            }
    // Didn't match and too much time, reject!
            else {
                reject(new Error('timed out for ' + fn + ': ' + arguments));
            }
        };

        return new Promise(checkCondition);
    }

    // Usage:  ensure element is visible
        poll(function() {
            return document.getElementById('lightbox').offsetWidth > 0;
        }, 2000, 150).then(function() {
    // Polling done, now do something else!
        }).catch(function() {
    // Polling timed out, handle the error!
        });
</script>
