@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="container">
    <div class="main-page-box" style="height: 51vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;">
        <h1 class="display-6 mb-3">Enter Session Code</h1>
        <form id="joinSession" method="post">
            <div class="input-group mx-auto">
                <input type="text"
                       class="form-control"
                       placeholder="Session code"
                       aria-label="Session code"
                       aria-describedby="join-button"
                       name="AuthCode"
                       autofocus
                       autocomplete="off"
                       >
                <input id="latitude" type="hidden" name="Latitude" />
                <input id="longitude" type="hidden" name="Longitude" />
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" onclick="formSubmit()" type="button" id="join-button">Join</button>
                </div>

            </div>
        </form>

        <div class="row">&nbsp;</div>
        <div class="row w-100">
            @if (ViewData.ContainsKey("Error"))
            {
                if (ViewData["Error"] != null)
                {
                    <div class="alert alert-danger w-100 col-lg" role="alert" id="get-session-error">
                        @ViewData["Error"]
                    </div>
                }
                else
                {
                    <div class="alert alert-success w-100 col-lg" role="alert" id="get-session-success">
                        We found your session and you are authenticated! <b>Redirecting now!!</b>
                    </div>
                    <meta http-equiv="refresh" content="1;url=./answer" />
                }
            }
        </div>
    </div>

    
</div>

<script type="text/javascript">
    // Location Feature
    var mainForm = document.getElementById("joinSession");
    let longitude = null, latitude = null;

    function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
              longitude = position.coords.longitude;
              latitude = position.coords.latitude;
          }, function (error) {
                  console.log("There was some issue with getting your location. Please reload")
          });
          
      } else { 
          alert("Geolocation is not supported by this browser. Please use a browser supporting browser");
          // TODO: Implement reloading to piss them
      }
    }

    getLocation();
    var times = 0;
    function formSubmit() {
        getLocation();
        document.getElementById("latitude").value = latitude;
        document.getElementById("longitude").value = longitude;

        if (latitude && longitude) {
            console.log(`Successfully retrieved user information. {longitude:${longitude}, latitude:${latitude}`)
            mainForm.submit();
        }
        else if (times < 5) {
            times += 1;
            formSubmit();
        }
        else {
            alert("Geolocation is not supported by this browser. Please use a browser supporting browser");
        }
    }

    document.addEventListener("keyup", function submit(e) {
        if (e.keyCode === 13) {
            // If user taps enter, submit!
            document.getElementById("join-button").click();
        }
    })
</script>
